= webpack_bundle_tag 'add_gitlab_slack_application'

%script#js-add-gitlab-slack-application-entry-data{ type: "application/json" }
  = { projects: @projects, sign_in_path: new_session_path(:user, redirect_to_referer: 'yes'), is_signed_in: current_user.present?, slack_link_profile_slack_path: slack_link_profile_slack_path, gitlab_for_slack_gif: image_path('gitlab_for_slack.gif') }.to_json.html_safe
#js-add-gitlab-slack-application-entry-point
